.btn{
	margin: 0px;
}

.mb-5 {
    margin-bottom: 0em !important;
}

@media only screen and (max-width: 900px){

	.ftco-section {
	    padding: 2em 0 7em 0;
	}
}

p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1400px){

	.ftco-section {
	    padding: 0em 0 0em 0;
	}

	p {
    margin-top: 1rem;
    margin-bottom: 1rem;
	}

	.navbar{
		padding-bottom: 10px;
	}

	.mb-4, .my-4 {
    margin-bottom: 0.75rem!important;
}
}
