@media only screen and (max-width: 900px){

    .h3, h3 {
         font-size: 1.25rem; 
    }
}

@media only screen and (max-width: 1400px){
    
    .h3, h3 {
         font-size: 1.35rem; 
    }
}

@media only screen and (max-width: 1400px){

    .ftco-section {
    padding: 0em 0 0em 0;
    }
}

@media only screen and (max-width: 900px){

    .mb-5 {
        margin-top: 1.5em !important;
    }
}